<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suscriptos</title>
</head>
<body>

    {% for s in suscriptos %}
        <li> {{s}} </li>
        <button>
            <a href="{% url 'BorrarSuscripto' s.nombre %}"> Eliminar</a>
            <a href="{% url 'EditarSuscripto' s.nombre %}"> Editar</a>
        </button>
    
    
        {% endfor %}

        <a href="suscriptores"> Agregar otro suscriptor</a>
</body>
</html>